.post
  :margin 1em
  :padding 0.5em
  :background-color #ACD2DD
  -webkit-border-radius: 1em
  -moz-border-radius: 1em
  -webkit-box-shadow: 0.5em 0.5em 0.75em #999
  -moz-box-shadow: 0.5em 0.5em 0.75em #999
  box-shadow: 0.5em 0.5em 0.75em #999
