body {
  font: 87.5% "Bookman Old Style", Garamond, Georgia, serif; }

#main {
  width: 70em;
  margin: 0px auto; }
  #main #content {
    width: 44em;
    float: left; }
  #main #sidebar {
    width: 25em;
    margin-left: 1em;
    float: right; }

.invisible {
  opacity: 0; }

.post {
  margin: 2em 0.5em;
  padding: 0.5em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-box-shadow: 0.5em 0.5em 0.75em #999;
  -moz-box-shadow: 0.5em 0.5em 0.75em #999;
  box-shadow: 0.5em 0.5em 0.75em #999;
  overflow: hidden;
  background-color: #ACD2DD; }
  .post pre {
    padding: 1em 0px 1em 0px;
    background-color: #779299;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#ACD2DD), to(#ACD2DD), color-stop(0.5, #779299)) 1 1 1 1 repeat repeat;
    background-image: -moz-linear-gradient(left top, left bottom, from(#ACD2DD), to(#ACD2DD), color-stop(0.5, #779299));
    overflow: auto; }
  .post .timestamp {
    font-style: italic;
    font-size: smaller;
    float: right; }

.about {
  margin: 2em 0.5em;
  padding: 0.5em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-box-shadow: 0.5em 0.5em 0.75em #999;
  -moz-box-shadow: 0.5em 0.5em 0.75em #999;
  box-shadow: 0.5em 0.5em 0.75em #999;
  overflow: hidden;
  background-color: #E7E99C; }

form * {
  font-family: "Bookman Old Style", Garamond, Georgia, serif;
  font-size: 100%; }
form label {
  font-weight: bold; }
form textarea {
  width: 90%;
  height: 10em; }
