.post {
  font-family: "Bookman Old Style", Garamond, Georgia, serif;
  margin: 1em;
  padding: 0.5em;
  background-color: #ACD2DD;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  background: -webkit-gradient(linear, left top, left bottom, from(#ACD2DD), to(#8BC3DD));
  background-image: -moz-linear-gradient(top, bottom, from(#ACD2DD), to(#8BC3DD)); }
