!!! 1.1
%html
  %head
    %title Having Fun
    = stylesheet_link_tag "master"
  %body
    #main
      #content
        = yield
      #sidebar
        .about
          %h1 Having Fun
          %p 
            This is the personal blog of Steve Eley. At some point I should put some more stuff here.
            =link_to "+", :new_post, :class => "invisible"
            
      